body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

main {
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
}

/* Header Styling */
header {
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
}
  
header a {
  color: whitesmoke;
}

header a:hover {
  color: #00b3b3;
}

/* Button Styling */
main button {
  margin: 5px;
  background-color: #004d4d;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
}

button:hover {
  background-color: #00b3b3;
}
 
.hide {
  display: none;
}

.qChoices button {
  display: block;
}

.result {
  font-style: italic;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 30px;
  color: #004d4d;
}

ol {
  padding-left: 0px;
  max-height: 300px;
  overflow: auto;
}

.hsList li {
  padding: 5px;
  list-style: decimal inside none;
}

.hsList li:nth-child(odd) {
  background-color: #00b3b3;
}

.scores {
  position: absolute;
  top: 15px;
  left: 15px;
}